.new_session-wrapper{
  padding: 20px 0;
  font-size: 14px;
  background-color: #eee;
  min-height: 100vh;
  &__logo{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    .fa-pagelines{
      color: $frema;
    }
    &__text{
      font-weight: bold;
    }
    &__title,&__title-done{
      font-size: 12px;
      padding-left: 20px;
      position: relative;
      display: inline-block;
      vertical-align: top;
      &::after{
        content: "";
        position: absolute;
        top: 20px;
        left: 38px;
        width: 12px;
        height: 12px;
        border-radius: 20px;
        display: inline-block;
        background-color: #ddd;
      }
    }
    &__title{
      &::before{
        content: "";
        position: absolute;
        top: 25px;
        left: 50px;
        width: 66px;
        height: 2px;
        display: inline-block;
        background-color: #ddd;
      }
    }
    .title-active{
      font-weight: bold;
    }
    .after-active{
      &::after{
        background-color: $frema;
      }
    }
    .before-active{
      &::before{
        background-color: $frema;
      }
    }
  }
  &__main{
    width: 500px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 1px;
    background-color: white;
    &__head{
      text-align: center;
      font-size: 22px;
      font-weight: bold;
    }
    &__btn{
      width: 300px;
      height: 44px;
      display: block;
      color: white;
      font-size: 14px;
      line-height: 44px;
      margin: 10px auto;
      border: 0px solid #000;
      text-align: center;
      background-color: $frema;
    }
    &__text{
      width: 300px;
      height: 44px;
      display: block;
      font-size: 14px;
      line-height: 44px;
      margin: 10px auto;
      border-radius: 4px;
      padding-left: 10px;
    }
    .flexbox{
      display: flex;
      align-items: center;
    }
    .text-half{
      width: 148px;
    }
    &__title{
      width: 300px;
      margin: 0 auto;
      font-weight: bold;
      .require{
        padding: 3px;
        color: white;
        font-size: 12px;
        border-radius: 4px;
        background-color: $frema;
      }
      .any{
        padding: 3px;
        color: white;
        font-size: 12px;
        border-radius: 4px;
        background-color: #ddd;
      }
    }
    .text-align-center{
      text-align: center;
      font-weight: normal;
    }
    &__select{
      width: 300px;
      height: 44px;
      font-size: 12px;
      line-height: 44px;
      margin: 10px auto;
      border-radius: 4px;
      padding-left: 10px;
    }
    .three-select{
      width: 80px;
    }
    &__caution{
      padding: 10px 0;
      width: 300px;
      margin: 0 auto;
    }
  }
}