.footer-image
  .footer-image__text
    .footer-image__text__top
      スマホでかんたんフリマアプリ
    .footer-image__text__bottom
      今すぐ無料ダウンロード！
    %a{href: "https://apps.apple.com/jp/app/firefox-%E3%82%A6%E3%82%A7%E3%83%96%E3%83%96%E3%83%A9%E3%82%A6%E3%82%B6%E3%83%BC/id989804926?mt=8", class:"app-store"}
    %a{href: "https://play.google.com/store/apps/details?id=com.amazon.avod.thirdpartyclient&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1", class:"google-play"}
.footer
  .footer__top
    .footer__top__block
      .footer__top__block__title
        フリマについて
      .footer__top__block__content
        %ul
          %li 会社概要(運営会社)
          %li 採用情報
          %li プレスリリース
          %li 公式ブログ
          %li フリマロゴ利用ガイドライン
        %i{class: "fab fa-twitter"}
        %i{class: "fab fa-facebook-square"}
    .footer__top__block
      .footer__top__block__title
        ヘルプ&ガイド
      .footer__top__block__content
        %ul
          %li フリマガイド
          %li らくらくフリマ便
          %li ゆうゆうフリマ便
          %li 梱包・発送やリマ便
          %li 車体取引ガイド
          %li フリマ安心・安全宣言！
          %li 偽ブランド品撲滅への取り組み
          %li フリマボックス
          %li スマホ出品・売却相場

  .footer__top
    .footer__top__block
      .footer__top__block__title
        プライバシーと利用規約
      .footer__top__block__content
        %ul
          %li プライバシーポリシー
          %li メルカリ利用規約
          %li 安心スマホサポート制度に関する利用特約
          %li コンプライアンスポリシー
    .footer__top__block
      .footer__top__block__title.visibility-none
        プライバシーと利用規約
      .footer__top__block__content
        %ul
          %li 個人データの安全管理に係る基本方針
          %li 特定商取引に関する表記
          %li 資金決済法に基づく表示
          %li 法令遵守と犯罪抑止のために
  .footer__bottom
    %i{class: "fab fa-pagelines"}
    %span{class: "footer__bottom__logo"}
      Frema
    %span{class: "update-ver"}
      = "ver:#{$date}"